# Don't copy unneeded or sesitive files
.dockerignore
.gitignore
.gitlab-ci.yml
brobot
brobot.exe
brobot.service
data
data.db
deploy.md
Dockerfile
LICENSE
OLD-pi-deploy.sh
README.md
screenshot.png
start.sh
